
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    margin: 0;
    font-family: 'Press Start 2P', cursive;

}

canvas {
    border: 1px solid #fff;
}

#score{
    font-size: 50px;
    color: red;
    margin-left:-171px
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    margin-left: 181px;
    width: 400px;
    height: 400px; 
    overflow: auto; 

  }
  .modal2 {
    display: block; 
    position: fixed; 
    z-index: 1; 
    margin-left: 181px;
    width: 400px;
    height: 400px; 
    overflow: auto; 
  }
  .modalFood {
    display: block; 
    position: fixed; 
    z-index: 1; 
    margin-left: 181px;
    width: 400px;
    height: 400px; 
    overflow: auto; 
  }

  .modal-content {
    background-color: rgba(1, 109, 5, 0.4);
    border: 1px solid #888;
  display: flex;
        width: 99%;
        height: 99%;
    
  }

  
  .modal-content p {
    position: absolute;
    margin-top: 211px;
    font-size: 50px;
    margin-left: 110px;
    color: red;
    
}
 
  .modal-content img{
    
        width: 155px;
        margin: auto;
        margin-bottom: 52%;
   
  }
  

  .modal-content button{
    width: 100px;
    height: 30px;
    background-color: rgb(1, 109, 5);
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 5px 5px;
    position: absolute;
   
      margin-top: 326px;
      margin-left: 153px;
  
  }
  audio{
    display: none;
  }

  